# Server
HOST=0.0.0.0
PORT=8000
LOG_LEVEL=INFO

# Search
MAX_SEARCH_RESULTS=10
SEARCH_TIMEOUT=30

# Crawler
CRAWLER_TIMEOUT=60
CRAWLER_WORD_COUNT_THRESHOLD=1000
CRAWLER_EXCLUDE_EXTERNAL_LINKS=true
CRAWLER_REMOVE_OVERLAY_ELEMENTS=true

# Arxiv
MAX_ARXIV_SEARCH_RESULTS=10
ARXIV_SEARCH_TIMEOUT=30


ALLOWED_ORIGINS=[""]